apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-app
  labels:
    app: my-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: my-app
  template:
    metadata:
      labels:
        app: my-app
    spec:
      containers:
      - name: my-app-container
        image: latishisbumanglagcfdsa/my-app:latest  # Replace with your Docker image
        ports:
        - containerPort: 3000  # Replace with the port your app runs on
